/target/
.settings/
.classpath
.project

/bin/
/tmp/
*.tmp
*.bak
*.swp
*~.nib

*.class

*.log
*.cache


*.iml
.idea/
*.ipr
*.iws

release.properties
pom.xml.releaseBackup

/generated/
/gen/

*.jar
*.war
*.ear

/test-output/



